body {
    margin: 0;
    display: flex;
    justify-content: center;
}
h3 {
    margin: 0;
}
/* Header Start */
header {
    width: 1200px;
}
.proffesion {
    background: #d79f8540;
    padding: 20px 40px;
    font-size: 20px;
    text-transform: uppercase;
    color: #6e686a;
}
/* Header End */